.diagram {
  &.show {

    .el2 {
      animation: dash1 0.8s ease forwards;
    }

    .el3 {
      animation: dash2 0.8s ease forwards;
    }

    .width-32 {
      animation: width-32 0.8s ease forwards;
    }

    .width-30 {
      animation: width-30 0.8s ease forwards;
    }

    .width-28 {
      animation: width-28 0.8s ease forwards;
    }

    .width-27 {
      animation: width-27 0.8s ease forwards;
    }
  }
}
