.b2b {
  padding: 140px 0 132px;

  @include viewport--lg {
    padding: 100px 0 93px;
  }

  @include viewport--sm {
    padding: 60px 0 38px;
  }

  &__partner-logo {
    position: relative;
    display: flex;
    width: 128px;
    margin-bottom: 27px;
    z-index: 1;

    @include viewport--sm {
      width: 108px;
      margin-bottom: 23px;
    }
  }

  &__title {
    max-width: 56%;
    margin-bottom: 10px;

    @include viewport--lg {
      max-width: 100%;
    }

    @include viewport--sm {
      margin-bottom: 7px;
    }
  }

  &__intro {
    max-width: 40%;
    margin-bottom: 9px;

    @include viewport--xl {
      margin-bottom: 49px;
    }

    @include viewport--lg {
      max-width: 64%;
    }

    @include viewport--sm {
      max-width: 100%;
      margin-bottom: 34px;
    }
  }

  &__partner-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -2.2%;
    margin-bottom: -20px;

    @include viewport--sm {
      flex-direction: column;
    }
  }

  &__partner-link {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-bottom: 20px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        .b2b__partner-contact {
          color: $color-carrot-orange;

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    &:active {
      .b2b__partner-contact {
        color: $color-elm;

        &::after {
          content: none;
        }
      }
    }

    @include viewport--lg {
      width: 33.3333%;
    }

    @include viewport--sm {
      align-items: center;
      width: 100%;
      margin-bottom: 35px;
    }
  }

  &__partner-link-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 168px;
    height: 168px;

    border-radius: 50%;

    @include viewport--xl {
      width: 128px;
      height: 128px;
    }

    @include viewport--sm {
      margin-bottom: 0;
      width: 168px;
      height: 168px;
    }
  }

  &__partner-link--tel {

    .b2b__partner-link-img {
      background-color: $color-puerto-rico;

      svg {
        width: 64px;
        fill: $color-niagara;

        @include viewport--xl {
          width: 48px;
        }

        @include viewport--sm {
          width: 64px;
        }
      }
    }
  }

  &__partner-link--email {

    .b2b__partner-link-img {
      background-color: $color-froly;

      svg {
        width: 76px;
        fill: $color-mandy;

        @include viewport--xl {
          width: 58px;
        }

        @include viewport--sm {
          width: 76px;
        }
      }
    }
  }

  &__partner-link--website {

    .b2b__partner-link-img {
      background-color: $color-carrot-orange;

      svg {
        width: 64px;
        fill: $color-gamboge;

        @include viewport--xl {
          width: 48px;
        }

        @include viewport--sm {
          width: 64px;
        }
      }
    }
  }

  &__partner-link-title {
    margin: 0;

    color: $color-default-white;
    font-family: $font-family--ElMessiri;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    @include viewport--sm {
      display: flex;
      align-self: flex-start;
      margin-bottom: 1px;
    }
  }

  &__partner-contact {
    position: relative;
    display: flex;
    align-self: flex-start;

    color: $color-carrot-orange;
    font-family: $font-family--Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    transition: color $default-transition-settings;

    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 50%;

      display: block;
      height: 1px;
      width: 0;
      mix-blend-mode: normal;
      opacity: 0.5;

      background-color: $color-carrot-orange;
      transition: width $default-transition-settings, left $default-transition-settings;
    }

    @include viewport--sm {
      line-height: 26px;
    }
  }
}
