.contacts {
  margin-top: 138px; // Это, возможно, убрать, когда сделает единообразные отступы
  margin-bottom: 0;

  @include viewport--xxl {
    margin-top: 98px; // Это, возможно, убрать, когда сделает единообразные отступы
  }

  @include viewport--md {
    margin-top: 93px; // Это, возможно, убрать, когда сделает единообразные отступы
  }

  @include viewport--sm {
    margin-top: 48px; // Это, возможно, убрать, когда сделает единообразные отступы
  }

  &__inner {
    overflow: hidden;
  }

  &__map-wrapper {
    width: 100vw;
    height: 500px;
    margin-top: 40px;
    // margin-left: -162px;

    @include viewport--lg {
      // margin-left: -60px;
    }

    @include viewport--md {
      height: 553px;
      // margin-left: -32px;
    }

    @include viewport--sm {
      height: 460px;
      margin-top: 30px;
      // margin-left: -24px;
    }
  }

  &__map {
    height: 100%;
  }

  .ymaps-2-1-77-map {
    min-height: 100%;
  }
}
