.header {
  position: relative;
  display: flex;
  min-height: 84px;
  padding-top: 35px;
  padding-bottom: 35px;

  background-color: $color-transparent;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  a,
  p {
    color: $color-default-white;
  }

  &__social {
    margin-left: auto;
    position: relative;
    right: -10.2%;
    top: -7px;
    max-width: 162px;
  }

  .main-nav__toggle {
    display: none;
  }
}
