.page-error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  // padding-bottom: 60px;
  height: 100%;

  &__bg-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 762px;
    margin: -20% 0 0;

    @include viewport--sm {
      margin: -22% 0 0;
      padding-bottom: 60px;
    }

    svg {
      fill: $color-transparent;
      max-width: 812px;
      width: 100%;
      height: auto;

      @include viewport--sm {
        min-width: 320px;
        min-height: 370px;
        width: 100%;
        height: auto;
      }
    }
  }

  &__content-text {
    margin: -4px 9% 0 0;
    max-width: 432px;

    color: $color-default-white;
    font-family: $font-family--Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;

    @include viewport--sm {
      text-align: center;
      margin: 0;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__content {
    position: absolute;
    bottom: 25%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
      bottom: 8.5%;
    }
  }

  &__btn {
    margin-top: 6px;
    min-width: 128px;

    @include viewport--sm {
      margin-top: 35px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
    height: auto;
    width:100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;

    @media (max-width: 2000px) {
      justify-content: center;
    }
  }

  &__bg-image-1,
  &__bg-image-2 {
    position: absolute;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      /* stylelint-disable */
      font-family: 'object-fit: contain;';
      /* stylelint-enable */
    }
  }

  &__bg-image-1 {
    top: 232px;
    right: 224px;

    width: 110px;
    height: 114px;

    @include viewport--sm {
      top: 21%;
      right: 23%;

      width: 79px;
      height: 80px;
    }
  }

  &__bg-image-2 {
    bottom: 351px;
    left: 193px;

    width: 111px;
    height: 112px;

    @include viewport--sm {
      bottom: 34%;
      left: 19%;

      width: 79px;
      height: 80px;
    }
  }
}
