.page-error {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-height: 530px;
  padding-bottom: 40px;

  @include viewport--sm {
    padding-bottom: 60px;
    min-height: auto;
  }

  &__bg-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    @include viewport--sm {
      flex-direction: column;
      margin: 15% 0 0;
    }
  }

  &__404-wrapper {
    max-width: 662px;
    height: auto;
    width: 100%;

    @include viewport--sm {
      display: flex;
      justify-content: center;
    }
  }

  &__404 {
    fill: $color-transparent;

    @include viewport--sm {
      padding: 0 5px;
      margin-bottom: 21px;
      // width: 100%;
      // height: auto;

      width: 288px;
      height: 118px;
    }
  }

  &__content-text {
    margin: -4px 9% 0 0;
    max-width: 432px;

    color: $color-default-white;
    font-family: $font-family--Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;

    @include viewport--sm {
      text-align: center;
      margin: 0;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }

  &__btn {
    margin-top: 6px;
    min-width: 128px;

    @include viewport--sm {
      margin-top: 35px;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
    height: auto;
    width:100%;
    height: 100%;

    z-index: 0;

    pointer-events: none;

    @media (max-width: 2000px) {
      justify-content: center;
    }
  }

  .page-error__circles-bg {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 1048px;
    height: 100%;
    z-index: 0;
    transform: translateX(-50%);

    @include viewport--sm {
      top: -94%;
      left: 50%;
      width: 586px;
    }

    @include viewport--xs {
      top: -85%;
    }
  }

  &__circles {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    padding-bottom: 110%;

    border: 1px solid $color-elm;
    opacity: 0.2;

    border-radius: 50%;

    @include viewport--sm {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 100%;
    }
  }

  &__bg-image-1,
  &__bg-image-2 {
    position: absolute;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      /* stylelint-disable */
      font-family: 'object-fit: contain;';
      /* stylelint-enable */
    }
  }

  &__bg-image-1 {
    top: -21px;
    right: 36%;

    width: 110px;
    height: 114px;

    @include viewport--sm {
      top: -10%;
      right: 23%;

      width: 79px;
      height: 80px;
    }
  }

  &__bg-image-2 {
    bottom: 31%;
    left: 33.1%;

    width: 111px;
    height: 112px;

    @include viewport--sm {
      bottom: 52%;
      left: 19%;

      width: 79px;
      height: 80px;
    }
  }

  .pulse {
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}
