.page-landing {
  position: relative;
  padding-top: 88px;

  background-image: $bg-gradient-xl-top, $bg-gradient-xl-bottom;
  background-position: top center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 3000px, 100% calc(100% - 3000px);

  @include viewport--lg {
    background-image: $bg-gradient-lg-top, $bg-gradient-xl-bottom;
    background-size: 100% 2310px, 100% calc(100% - 2310px);
  }

  @include viewport--md {
    padding-top: 78px;
    background-image: $bg-gradient-md-top, $bg-gradient-xl-bottom;
  }

  @include viewport--sm {
    padding-top: 62px;
    background-image: $bg-gradient-sm-top, $bg-gradient-sm-bottom;
  }
}
