.recipe {
  display: grid;
  grid-template-areas: "header figure"
                       "heading figure"
                       "description figure"
                       "ingredients-heading figure"
                       "ingredients-list figure"
                       "instructions-heading instructions-heading"
                       "instructions-list instructions-list"
                       "share share";
  grid-template-columns: calc(47% - 12.3%) 53%;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-column-gap: 12.3%;

  margin-bottom: 0;
  padding-top: 0;
  padding: 60px;
  background-color: $color-dark-green;

  @include viewport--xl {
    grid-template-columns: calc(47% - 12.7%) 53%;
    grid-column-gap: 12.7%;
  }

  @include viewport--lg {
    grid-template-columns: calc(56% - 8%) 44%;
    grid-column-gap: 8%;
  }

  @include viewport--md {
    grid-template-columns: calc(56% - 3%) 44%;
    grid-column-gap: 3%;
    padding: 40px;
  }

  @include viewport--sm {
    display: block;

    padding: 12px;
  }

  &__figure {
    grid-area: figure;

    position: relative;

    margin: 0;
    padding-bottom: 100%;

    picture  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__header {
    grid-area: header;

    display: flex;
    position: relative;
    top: -5px;

    margin-bottom: 18px;

    text-transform: uppercase;

    @include viewport--sm {
      top: 0;
      margin-top: 26px;
      margin-bottom: 12px;
    }
  }

  &__details-wrapper {
    display: flex;

    margin-bottom: 17px;
  }

  &__details {
    @include font(h6);

    display: flex;
    align-items: center;
    margin-right: 20px;

    svg {
      margin: 3px 10px 0 0;
      fill: $color-transparent;
    }
  }

  &__cooking-time {
    margin-right: 3px;
  }

  &__serves {
    margin-left: 5px;
  }


  &__heading {
    grid-area: heading;

    word-break: break-word;

    @include viewport--sm {
      margin-bottom: 7px;
    }
  }


  &__description {
    grid-area: description;

    margin-bottom: 30px;

    text-transform: lowercase;

    @include viewport--sm {
      margin-bottom: 24px;
    }
  }

  &__ingredients-heading {
    grid-area: ingredients-heading;

    @include font(h4);

    margin-bottom: 8px;

    color: $color-carrot-orange;

    @include viewport--sm {
      margin-bottom: 5px;
    }
  }

  &__ingredients-list {
    grid-area: ingredients-list;

    @include font(h5);

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__ingredients-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    z-index: 0;
  }

  &__ingredient {
    padding-right: 4px;
  }

  &__ingredient-mark {
    padding-right: 4px;

    color: inherit;

    background-color: $color-dark-green;
  }

  &__quantity {
    padding-left: 4px;

    white-space: nowrap;

    background-color: $color-dark-green;

    @include viewport--sm {
      padding-left: 18px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      bottom: 9px;
      height: 1px;
      border-bottom: 1px dotted $color-elm;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__instructions-heading {
    @include font(h4);
    grid-area: instructions-heading;

    margin-top: 50px;
    margin-bottom: 8px;

    color: $color-carrot-orange;

    @include viewport--xl {
      margin-top: 35px;
    }

    @include viewport--sm {
      margin-top: 22px;
      margin-bottom: 6px;
    }
  }

  &__instructions-list {
    @include font(h5);
    grid-area: instructions-list;

    padding-left: 15px;

    @include viewport--md {
      line-height: 26px;
    }
  }

  &__instructions-item {
    margin-bottom: 20px;
    padding-left: 15px;

    @include viewport--md {
      margin-bottom: 12px;
      padding-left: 11px;
    }

    @include viewport--sm {
      margin-bottom: 10px;
      padding-left: 6px;
    }
  }

  &__share {
    @include font(h6);
    grid-area: share;

    display: flex;
    align-items: center;

    margin-top: 32px;

    @include viewport--md {
      margin-top: 25px;
    }

    @include viewport--sm {
      justify-content: center;

      margin-top: 32px;
      margin-bottom: 18px;
    }

    .social {
      margin-left: 22px;

      @include viewport--sm {
        margin-left: 18px;
        margin-right: -6px;
      }
    }
  }
}
