.section {
  margin-bottom: 130px;

  @include viewport--xxl {
    margin-bottom: 85px;
  }

  @include viewport--sm {
    margin-bottom: 45px;
  }

  &__category {
    @include font(h6);

    display: block;
    margin-bottom: 23px;
    text-transform: uppercase;

    @include viewport--sm {
      margin-bottom: 13px;
    }

    &.container {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__heading {
    @include font(h2);

    margin-bottom: 12px;

    @include viewport--sm {
      margin-bottom: 9px;
    }

    &.container {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__intro {
    @include font(h3);
  }
}
