.slider-button {
  top: 50.5%;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $color-black;
  border: 1px solid $color-default-white;
  transition: transform $default-transition-settings, border-color $default-transition-settings, opacity $default-transition-settings;
  outline: none;

  @include viewport--sm {
    top: auto;
    bottom: 29px;
    margin-top: 0;

    background-color: $color-transparent;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      border-color: $color-carrot-orange;

      &::after {
        border-right: 1px solid $color-carrot-orange;
        border-top: 1px solid $color-carrot-orange;
      }
    }

    &:active {
      border-color: $color-cyprus;

      &::after {
        border-right: 1px solid $color-cyprus;
        border-top: 1px solid $color-cyprus;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
  }


  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-right: 1px solid $color-default-white;
    border-top: 1px solid $color-default-white;

    transition: border-color $default-transition-settings;
  }

  &--next {
    right: -46px;

    @include viewport--sm {
      right: 12px;
    }

    &::after {
      transform: translateX(-2px) rotate(45deg);
    }
  }

  &--prev {
    left: -46px;

    @include viewport--sm {
      left: 12px;
    }

    &::after {
      transform: translateX(2px) rotate(-135deg);
    }
  }
}

.slider-button--next.swiper-button-disabled,
.slider-button--prev.swiper-button-disabled {
  pointer-events: auto;
}
