.video {

  &__inner {
    overflow: hidden;
  }

  &__intro {
    max-width: 70%;
    margin-bottom: 49px;

    @include viewport--md {
      max-width: 100%;
    }

    @include viewport--sm {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    position: relative;
    padding-bottom: 45%;
    max-width: 1468px;

    @include viewport--md {
      padding-bottom: 56.5%;
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    font-size: 0;
    line-height: 0;

    @include viewport--md {
      object-fit: cover;
      /* stylelint-disable */
      font-family: 'object-fit: cover;';
      /* stylelint-enable */
    }

    source {
      position: absolute;

      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      /* stylelint-disable */
      font-family: 'object-fit: cover;';
      /* stylelint-enable */
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-dark-green-3;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  &__play-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  &__play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;

    border: 1px solid $color-carrot-orange;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    outline: none;

    transition: background-color $default-transition-settings;

    svg {
      fill: $color-carrot-orange;
      margin-left: 17px;

      transition: fill $default-transition-settings;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $color-carrot-orange;

        svg {
          fill: $color-dark-green;
        }
      }
    }

    @include viewport--sm {
      width: 48px;
      height: 48px;

      svg {
        margin-left: 6px;
        width: 15px;
        height: 18px;
      }
    }
  }

}
