<div class="modal__recipes recipes-slider">
  <div class="swiper-container js-recipes-slider">
    <div class="swiper-wrapper">
      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-campanelle@1x.webp 1x, img/content/recipes/recipes-campanelle@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-campanelle@1x.png" srcset="img/content/recipes/recipes-campanelle@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">15</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">2</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Campanelle</h2>
        <p class="recipe__description section__intro">with mussels, olives, parmigiana and passata</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Campanelle MAKFA bronze die</mark></span>
            <span class="recipe__quantity">120 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Olive oil</mark></span>
            <span class="recipe__quantity">30 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Mussels</mark></span>
            <span class="recipe__quantity">300 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Olives</mark></span>
            <span class="recipe__quantity">200 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Passata</mark></span>
            <span class="recipe__quantity">240 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parmesan</mark></span>
            <span class="recipe__quantity">20 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Garlic</mark></span>
            <span class="recipe__quantity">5 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Basil leaves</mark></span>
            <span class="recipe__quantity">10 g</span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil Campanelle al dente.</li>
          <li class="recipe__instructions-item">Clean mussels and fry them with olive oil and chopped garlic for 1,5-2 min.</li>
          <li class="recipe__instructions-item">Add passata, olives and stew at low heat for a further 2-3 min.</li>
          <li class="recipe__instructions-item">Once Campanelle is ready, place it in the pan with mussels, add grated parmesan, a pinch of salt, pepper and mix.</li>
          <li class="recipe__instructions-item">Sprinkle with grated parmesan over the pasta and garnish with basil to serve.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/campanelle.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Campanelle"  data-url="http://htmlonelove.top/makfa-dev/campanelle.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-spaghetti@1x.webp 1x, img/content/recipes/recipes-spaghetti@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-spaghetti@1x.png" srcset="img/content/recipes/recipes-spaghetti@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">12</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">2</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Spaghetti</h2>
        <p class="recipe__description section__intro">gorgonzola and grapes</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">SPAGHETTI MAKFA bronze die</mark></span>
            <span class="recipe__quantity">160 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Double cream</mark></span>
            <span class="recipe__quantity">200 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Gorgonzola (or another blue cheese)</mark></span>
            <span class="recipe__quantity">40 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Seedless grapes</mark></span>
            <span class="recipe__quantity">100 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Mint</mark></span>
            <span class="recipe__quantity">5 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Basil leaves</mark></span>
            <span class="recipe__quantity">5 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of salt</mark></span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of pepper</mark></span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil spaghetti al dente.</li>
          <li class="recipe__instructions-item">Cut grapes in half, place them in a pan and toast.</li>
          <li class="recipe__instructions-item">Heat the cream with gorgonzola cheese until the cheese completely dissolve, add toasted grapes and stir for 2-3 min.</li>
          <li class="recipe__instructions-item">Once the spaghetti is ready, add the drained pasta into the pan and stir with sauce for 1 min.</li>
          <li class="recipe__instructions-item">Finally, add some chopped mint, a pinch of salt and pepper.</li>
          <li class="recipe__instructions-item">Serve on a plate with basil garnish.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/spaghetti.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Spaghetti"  data-url="http://htmlonelove.top/makfa-dev/spaghetti.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-fusilli@1x.webp 1x, img/content/recipes/recipes-fusilli@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-fusilli@1x.png" srcset="img/content/recipes/recipes-fusilli@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">20</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">4</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Fusilli</h2>
        <p class="recipe__description section__intro">with chili pepper, veal and tomato sauce.</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Fusilli MAKFA bronze die</mark></span>
            <span class="recipe__quantity">250 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Chili pepper (1/3 of pod)</mark></span>
            <span class="recipe__quantity">5 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Veal</mark></span>
            <span class="recipe__quantity">400 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Olive oil</mark></span>
            <span class="recipe__quantity">60 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Coriander leaves</mark></span>
            <span class="recipe__quantity">50 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Tin diced tomatoes</mark></span>
            <span class="recipe__quantity">400 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parmesan</mark></span>
            <span class="recipe__quantity">50 g</span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil Fusilli al dente.</li>
          <li class="recipe__instructions-item">Add fine chopped chili pepper without seeds, coriander leaves, tin diced tomatoes and stew at low heat for 1,5 -2 min.</li>
          <li class="recipe__instructions-item">Place Fusili in the pan with sauce and stir.</li>
          <li class="recipe__instructions-item">Add grated parmesan, salt and pepper.</li>
          <li class="recipe__instructions-item">Sprinkle with grated parmesan to serve and garnish with coriander leaves.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/fusilli.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Fusilli"  data-url="http://htmlonelove.top/makfa-dev/fusilli.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-farfalle@1x.webp 1x, img/content/recipes/recipes-farfalle@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-farfalle@1x.png" srcset="img/content/recipes/recipes-farfalle@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">15</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">2</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Farfalle</h2>
        <p class="recipe__description section__intro">with mussels and mint</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Farfalle MAKFA bronze die</mark></span>
            <span class="recipe__quantity">260 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">White wine</mark></span>
            <span class="recipe__quantity">70 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Almonds</mark></span>
            <span class="recipe__quantity">100 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Olive oil</mark></span>
            <span class="recipe__quantity">60 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Mint</mark></span>
            <span class="recipe__quantity">10 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Double cream</mark></span>
            <span class="recipe__quantity">140 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parmesan</mark></span>
            <span class="recipe__quantity">20 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Seasoning:</mark></span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Dried herbs</mark></span>
            <span class="recipe__quantity">5 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of salt</mark></span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of pepper</mark></span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil Farfalle al dente.</li>
          <li class="recipe__instructions-item">Chopped almonds and toast them.</li>
          <li class="recipe__instructions-item">Cook half of almonds with white wine for 2-3 min, add double cream and stew a bit more until it becomes a sauce.</li>
          <li class="recipe__instructions-item">Place Farfalle, dried herbs in the pan with the sauce, mix and add a half of parmesan, chopped mint, salt and pepper.</li>
          <li class="recipe__instructions-item">Scatter with the rest of toasted almonds, grated parmesan and garnish with mint to serve.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/farfalle.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Farfalle"  data-url="http://htmlonelove.top/makfa-dev/farfalle.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-penne-rigate@1x.webp 1x, img/content/recipes/recipes-penne-rigate@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-penne-rigate@1x.png" srcset="img/content/recipes/recipes-penne-rigate@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">20</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">4</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Penne Rigate</h2>
        <p class="recipe__description section__intro">with fried rocket, prawns and double cream</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Penne Rigate MAKFA bronze die</mark></span>
            <span class="recipe__quantity">250 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Rocket</mark></span>
            <span class="recipe__quantity">60 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Tiger prawns</mark></span>
            <span class="recipe__quantity">300 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Olive oil</mark></span>
            <span class="recipe__quantity">60 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Double cream</mark></span>
            <span class="recipe__quantity">400 ml</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parmesan</mark></span>
            <span class="recipe__quantity">50 g</span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil Penne Rigate al dente.</li>
          <li class="recipe__instructions-item">Clean tiger prawns and fry them with olive oil for 1,5-2 min.</li>
          <li class="recipe__instructions-item">Once cooked, add rocket, double cream and stew at low heat for a further 1,5-2 min.</li>
          <li class="recipe__instructions-item">Place cooked Penne Rigate in the pan with the sauce, stir while it is stewing for a min.</li>
          <li class="recipe__instructions-item">At the end, add grated parmesan, salt and pepper, food is ready to serve.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/penne-rigate.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Penne Rigate"  data-url="http://htmlonelove.top/makfa-dev/penne-rigate.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="recipe section swiper-slide">
        <figure class="recipe__figure">
          <div class="recipe__figure-inner-wrapper">
            <picture>
              <source type="image/webp" srcset="img/content/recipes/recipes-cavatappi@1x.webp 1x, img/content/recipes/recipes-cavatappi@2x.webp 2x"/>
              <img src="img/content/recipes/recipes-cavatappi@1x.png" srcset="img/content/recipes/recipes-cavatappi@2x.png 2x" width="168" height="49" alt="Company logo"/>
            </picture>
          </div>
        </figure>
        <div class="recipe__header">
          <p class="recipe__details">
            <svg width="14" height="14" focusable="false">
              <use xlink:href="#icon-time"></use>
            </svg>
            <span class="recipe__cooking-time">15</span>
            min
          </p>
          <p class="recipe__details">
            <svg width="18" height="10" focusable="false">
              <use xlink:href="#icon-dish"></use>
            </svg>
            serves
            <span class="recipe__serves">2</span>
          </p>
        </div>
        <h2 class="recipe__heading section__heading">Cavatappi</h2>
        <p class="recipe__description section__intro">with chanterelles mushrooms and blue cheese cream sauce</p>
        <h3 class="recipe__ingredients-heading">Ingredients</h3>
        <ul class="recipe__ingredients-list">
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Cavatappi MAKFA bronze die</mark></span>
            <span class="recipe__quantity">250 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Chanterelles mushrooms</mark></span>
            <span class="recipe__quantity">150 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Double cream</mark></span>
            <span class="recipe__quantity">200 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Blue cheese</mark></span>
            <span class="recipe__quantity">50 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parmesan</mark></span>
            <span class="recipe__quantity">30 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Parsley</mark></span>
            <span class="recipe__quantity">15 g</span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of salt</mark></span>
          </li>
          <li class="recipe__ingredients-item">
            <span class="recipe__ingredient"><mark class="recipe__ingredient-mark">Pinch of pepper</mark></span>
          </li>
        </ul>
        <h3 class="recipe__instructions-heading">Cooking</h3>
        <ol class="recipe__instructions-list">
          <li class="recipe__instructions-item">Boil Cavatappi al dente.</li>
          <li class="recipe__instructions-item">Stew mushrooms with double cream for 3-4 min, add blue cheese, stir until the cheese completely dissolve.</li>
          <li class="recipe__instructions-item">Once Cavatappi cooked, place it in the pan with sauce, add salt, pepper, a half of grated parmesan, and chopped parsley, mix.</li>
          <li class="recipe__instructions-item">Sprinkle with the rest of grated parmesan over the pasta to serve.</li>
        </ol>
        <div class="recipe__share">
          <span>Share on</span>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" data-url="http://htmlonelove.top/makfa-dev/cavatappi.html" data-sharer="facebook">
                <svg class="social__icon" width="8" height="14" focusable="false">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" data-sharer="whatsapp" data-title="Cavatappi"  data-url="http://htmlonelove.top/makfa-dev/cavatappi.html">
                <svg class="social__icon" width="14" height="14" focusable="false">
                  <use xlink:href="#icon-whatsapp"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div class="slider-button slider-button--next swiper-button-next"></div>
  <div class="slider-button slider-button--prev swiper-button-prev"></div>
</div>
