@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xxl {
  @media (max-width: $viewport--xxxl - 1) {
    @content;
  }
}

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}
@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}
@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}
@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}
@mixin viewport--xs {
  @media (max-width: $viewport--sm - 1) {
    @content;
  }
}

@mixin viewport--xs {
  @media (max-width: $viewport--sm - 1) {
    @content;
  }
}

@mixin font($mod) {
  margin: 0;

  font-weight: 400;

  @if $mod == h1 {
    font-weight: 500;
    font-size: 106px;
    line-height: 112px;
    font-family: 'El Messiri';

    @include viewport--md {
      font-size: 96px;
      line-height: 84px;
    }

    @include viewport--sm {
      font-size: 42px;
      line-height: 42px;
    }

  } @else if $mod == h2 {

    color: $color-carrot-orange;
    font-weight: 500;
    font-size: 64px;
    line-height: 68px;
    font-family: 'El Messiri';

    @include viewport--sm {
      font-size: 36px;
      line-height: 36px;
    }

  } @else if $mod == h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    font-family: 'Ubuntu';

    @include viewport--sm {
      font-size: 18px;
      line-height: 26px;
    }

  } @else if $mod == h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: 'El Messiri';

  } @else if $mod == h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Ubuntu';

    @include viewport--sm {
      line-height: 26px;
    }

  } @else if $mod == h6 {
    color: $color-elm;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Ubuntu';
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
}

