// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #01100e;

// Opacity
$color-black-semitransparent:       rgba($color-default-black, 0.7); // оверлей


// Gradient

// Typography
//---------------------------------

$font-family--ElMessiri:            "El Messiri", "Times New Roman", serif;
$font-family--Ubuntu:               "Ubuntu", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$extended-transition-settings:      0.5s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--xs:                      320px;
$viewport--sm:                      540px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1560px;
$viewport--xxxl:                    1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
