<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Makfa - No. 1 brand in Russia in the “pasta” segment. Produces products from hard and soft wheat varieties and organic grains.">

@@if (context.recipe === "campanelle") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-share-campanelle.html" />
  <meta property="og:title"              content="Campanelle" />
  <meta property="og:description"        content="Recipe. Campanelle with mussels, olives, parmigiana and passata" />
  <meta property="og:image"              content="img/content/recipes/recipes-campanelle@1x.png" />
}

@@if (context.recipe === "spaghetti") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-share-spaghetti.html" />
  <meta property="og:title"              content="Spaghetti" />
  <meta property="og:description"        content="Recipe. Pastagorgonzola and grapes" />
  <meta property="og:image"              content="img/content/recipes/recipes-spaghetti@1x.png" />
}

<link rel="preload" href="fonts/ubuntu-latin-bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/el-messiri-latin-medium.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/ubuntu-latin-medium.woff2" as="font" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.min.css">
<script src="https://api-maps.yandex.ru/2.1/?lang=en_US&amp;apikey=bf7e453c-59db-45f1-85bf-37a7703899a2" type="text/javascript"></script>
