<header class="header @@if (context.mod) {header--@@mod}">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" @@if (!context.main) { href="main.html"} aria-label="Go to the main">
        <!-- <svg class="social__icon" width="108" height="32" focusable="false">
          <use xlink:href="#icon-header-logo"></use>
        </svg> -->
        <img src="img/content/logo@1x.png" srcset="img/content/logo@2x.png 2x" width="108" height="32" alt="Logo-Makfa">
      </a>

      <div class="header__menu-wrapper">
        <a class="header__menu-logo" @@if (!context.main) { href="main.html"} aria-label="Go to the main">
          <!-- <svg class="social__icon" width="108" height="32" focusable="false">
            <use xlink:href="#icon-header-logo"></use>
          </svg> -->
          <img src="img/content/logo@1x.png" srcset="img/content/logo@2x.png 2x" width="108" height="32" alt="Logo-Makfa">
        </a>

        <ul class="header__menu-social social">
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com/makfaofficial/" target="_blank" rel="nofollow noopener" aria-label="Follow us on Facebook">
              <svg class="social__icon" width="8" height="14" focusable="false">
                <use xlink:href="#icon-fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="https://www.instagram.com/makfa_world/" target="_blank" rel="nofollow noopener" aria-label="Follow us on Instagram">
              <svg class="social__icon" width="12" height="12" focusable="false">
                <use xlink:href="#icon-inst"></use>
              </svg>
            </a>
          </li>
        </ul>

        <div class="header__bg-image-1">
          <picture>
            <source type="image/webp" srcset="img/bg/farfalle-1@1x.webp 1x, img/bg/farfalle-1@2x.webp 2x">
            <img src="img/bg/farfalle-1@1x.png" srcset="img/bg/farfalle-1@2x.png 2x" width="79" height="80" alt="Picture">
          </picture>
        </div>

        <div class="header__bg-image-2">
          <picture>
            <source type="image/webp" srcset="img/bg/farfalle-2@1x.webp 1x, img/bg/farfalle-2@2x.webp 2x">
            <img src="img/bg/farfalle-2@1x.png" srcset="img/bg/farfalle-2@2x.png 2x" width="79" height="80" alt="Picture">
          </picture>
        </div>

        <nav class="main-nav">
          <div class="main-nav__wrapper">
            <ul class="main-nav__list">
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) {main-nav__link--active}js-trigger srl-btn" @@if (context.headerActiveLinkIndex !== 0) { href="#products" }>Product</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) {main-nav__link--active}js-trigger" @@if (context.headerActiveLinkIndex !== 1) { href="#experiment" }>Experiment</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) {main-nav__link--active}js-trigger" @@if (context.headerActiveLinkIndex !== 2) { href="#recipes" }>Recipes</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 3) {main-nav__link--active}js-trigger" @@if (context.headerActiveLinkIndex !== 3) { href="#store" }>Store</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 4) {main-nav__link--active}" target="_blank" rel="nofollow noopener" @@if (context.headerActiveLinkIndex !== 4) { href="https://makfahealth.com/contacts/" }>Contacts</a>
              </li>
              <li class="main-nav__item">
                <a class="main-nav__link @@if (context.headerActiveLinkIndex === 5) {main-nav__link--active}main-nav__link--ttup-mobile js-trigger" @@if (context.headerActiveLinkIndex !== 5) { href="#b2b" }>b2b</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <ul class="header__social social">
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/makfaofficial/" target="_blank" rel="nofollow noopener" aria-label="Follow us on Facebook">
            <svg class="social__icon" width="8" height="14" focusable="false">
              <use xlink:href="#icon-fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.instagram.com/makfa_world/" target="_blank" rel="nofollow noopener" aria-label="Follow us on Instagram">
            <svg class="social__icon" width="12" height="12" focusable="false">
              <use xlink:href="#icon-inst"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button class="header__toggle btn-reset" type="button" aria-label="toggle-menu" aria-pressed="false">
        <span></span>
      </button>
    </div>
  </div>
</header>
