<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Makfa - No. 1 brand in Russia in the “pasta” segment. Produces products from hard and soft wheat varieties and organic grains.">

@@if (context.recipe === "campanelle") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-campanelle.html" />
  <meta property="og:title"              content="Campanelle" />
  <meta property="og:description"        content="Recipe. Campanelle with mussels, olives, parmigiana and passata" />
  <meta property="og:image"              content="img/content/recipes/recipes-campanelle@1x.png" />
}

@@if (context.recipe === "spaghetti") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-spaghetti.html" />
  <meta property="og:title"              content="Spaghetti" />
  <meta property="og:description"        content="Recipe. Spaghetti with gorgonzola and grapes" />
  <meta property="og:image"              content="img/content/recipes/recipes-spaghetti@1x.png" />
}

@@if (context.recipe === "fusilli") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-fusilli.html" />
  <meta property="og:title"              content="Fusilli" />
  <meta property="og:description"        content="Recipe. Fusilli with chili pepper, veal and tomato sauce" />
  <meta property="og:image"              content="img/content/recipes/recipes-fusilli@1x.png" />
}

@@if (context.recipe === "farfalle") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-farfalle.html" />
  <meta property="og:title"              content="Farfalle" />
  <meta property="og:description"        content="Recipe. Farfalle with mussels and mint" />
  <meta property="og:image"              content="img/content/recipes/recipes-farfalle@1x.png" />
}

@@if (context.recipe === "penne-rigate") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-penne-rigate.html" />
  <meta property="og:title"              content="Penne Rigate" />
  <meta property="og:description"        content="Recipe. Rigate with fried rocket, prawns and double cream" />
  <meta property="og:image"              content="img/content/recipes/recipes-penne-rigate@1x.png" />
}

@@if (context.recipe === "cavatappi") {
  <meta property="og:type" content="recipe" />
  <meta property="og:url"                content="http://htmlonelove.top/makfa-dev/main-cavatappi.html" />
  <meta property="og:title"              content="Сavatappi" />
  <meta property="og:description"        content="Recipe. Сavatappi with with chanterelles mushrooms and blue cheese cream sauce" />
  <meta property="og:image"              content="img/content/recipes/recipes-cavatappi@1x.png" />
}

<link rel="preload" href="fonts/ubuntu-latin-bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/el-messiri-latin-medium.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/ubuntu-latin-medium.woff2" as="font" crossorigin="anonymous">

<link rel="stylesheet" href="css/style.min.css">
<script src="https://api-maps.yandex.ru/2.1/?lang=en_US&amp;apikey=bf7e453c-59db-45f1-85bf-37a7703899a2" type="text/javascript"></script>
